<div>
  <h2>Livros</h2>

  <div>
    <strong>Selecione um livro:</strong>
    <ul>
      <li *ngFor="let livro of livros">
        <p><strong>Id:</strong> {{ livro.id }}</p>
        <p><strong>Nome:</strong> {{ livro.nome }}</p>
        <p *ngIf="livro.descriptions">
          <strong>Descrição:</strong> {{ livro.descriptions }}
        </p>
        <button type="button" routerLink="/details/{{ livro.id }}">
          Detalhes
        </button>
      </li>
    </ul>
  </div>
</div>
