button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  font-weight: bold;
  background: linear-gradient(to right, #9f66ff, #dfcbff);
  color: white;
}
